@font-face {
  font-family: vazir;
  src: url("/home/original/residbot/templates/vazir.ttf");
}
@font-face {
  font-family: vazir-light;
  src: url("../vazir-light.ttf");
}

body {
  font-size: 22px;
  font-weight: 300;
  font-family: vazir;
  color: #4d4d4d;
}

.container {
  width: 685px;
  height: 1280px;
  background-image: url("./Sepah-Paya.png");
  object-fit: cover;
  position: relative;
}

.green {
  color: #00a143;
}

.font-bold {
  font-weight: 700;
}

.record-date-title {
  top: 240px;
}
.record-date-value {
  top: 275px;
}

.tracking-number-title {
  top: 325px;
}
.tracking-number-value {
  top: 360px;
}

.from-title {
  top: 415px;
}
.from-value {
  top: 445px;
}

.to-title {
  top: 500px;
}
.to-value {
  top: 535px;
}

.price-title {
  top: 585px;
}
.price-value {
  top: 620px;
  direction: rtl;
}

.transaction-fee-title {
  top: 673px;
}
.transaction-fee-value {
  top: 703px;
}

.to-bank-title {
  top: 758px;
}
.to-bank-value {
  top: 790px;
}

.sender-title {
  top: 845px;
}
.sender-value {
  top: 875px;
}

.receiver-title {
  top: 930px;
}
.receiver-value {
  top: 960px;
}

.from-description-title {
  top: 1015px;
}
.from-description-value {
  top: 1050px;
}

.reason-title {
  top: 1100px;
}
.reason-value {
  top: 1140px;
}

.description-title {
  top: 1185px;
}
.description-value {
  top: 1215px;
}

.title {
  direction: rtl;
  position: absolute;
  right: 32px;
  opacity: 0.85;
}

.value {
  width: 100%;
  color: #606261;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: bold;
}
